/*
LEMEMO CSS / DEV VERSION
*/


.societe-cover-image {
    display: block;
    min-height: 330px;
    background-size: cover;
}

.societe-block-info {
    margin-top: -100px;
}

.share-this-block {
    margin-top: 100px;
 
}

.field-name-contact-form {
    margin-top: -100px;
    background-color: lightgray;
}

.societe-block-map {
    display: block;
    min-height: 230px;
}

.drupal-footer {
    display: block;
    min-height: 100px;
}

.bg-color {
    background-color: gray;
}