/*
LEMEMO CSS / DEV VERSION
*/
.societe-cover-image {
    display: block;
    min-height: 330px;
    background-size: cover !important;
}

.field-name-field-logo {
    margin-top: -70px;
}

.add-this-block {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: right;
}

.no-padding{
  padding-right: 0;
}

.grippie{
  display: none;
}
#sticky-wrapper{
  margin-top: -160px;
}
.field-name-contact-form {
    /*margin-top: -160px;*/
    background-color: white;
    padding: 5px 20px;
    box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
    z-index: 150;
}
.field-name-contact-form textarea,
.field-name-contact-form input{
  background-color: #fff3e5;
  border: none;
  box-shadow: none;
}
.field-name-contact-form input:focus,
.field-name-contact-form input:active,
.field-name-contact-form textarea:focus,
.field-name-contact-form textarea:active{
  border: 1px solid #ff8800;
  background: #fff;
}
.field-name-contact-form .form-actions .button,
.field-name-contact-form .form-actions{
  margin-bottom: 0;
}
.field-name-contact-form label{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #969696;
}

.footer {
   background-color: lightgray;
}

.resume-block {
   background-color: #797979;
}

.filter-wrapper {
  display: none;
}

.comment {
  border: 1px solid gray;
}

#fiche_coord {
  height: 250px;
  margin-top: -250px;
  background-color: white;
  padding-top: 10px;
}

/*CSS SOGRAPHIK*/
.field-name-title h1{
  text-transform: uppercase;
  font-size: 26px;
  font-family: "foco",sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 23px;
  clear: left;
}
.field-name-field-city{
  text-transform: uppercase;
  font-size: 19px;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.field-name-field-phone-1{
  font-size: 20px;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #797979;
  line-height: 15px;
}
.label-above{
  margin-top: 50px;
}
.field-name-field-mail h2,
.field-name-vote-bis h2,
h2 .label-above,
#comments h2.title{
  text-transform: uppercase;
  color: #3a3a3a;
  font-size: 19px;
  font-family: "foco",sans-serif;
  font-style: normal;
  font-weight: 700;
}

/*LOGO*/
.logo-block{
  margin-top: 18px;
}
.logo-block img{
  vertical-align: bottom;
}
.logo-block span{
  color: #797979;
  font-size: 27px;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-left: 10px;
}

.field-name-field-logo{
  box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
}

/*RETOUR ANNUAIRE*/
.button.expand.secondary{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform:uppercase;
  background: #505050;
  color: #fff;
  margin: 17px 0 15px 0;
  padding: 10px 0;
  box-shadow: none;
}
.button.expand.secondary:hover{
  background: #797979;
}

/*AVIS COUNTER*/
.field-name-lememo-fiche-comment-counter{
    float: left;
  line-height: 48px;
  margin-left: 10px;
}
.field-name-lememo-fiche-comment-counter a{
  color:#797979;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.field-name-lememo-fiche-comment-counter a:hover{
  color:#000;
}

.field-name-lememo-fiche-comment-counter a:before{
  content: '• ';
}

/*FIVESTAR*/
.field-name-field-vote.field-type-fivestar{
  margin-top: 0;
  float: left;
}
div.fivestar-widget .star span.on,
div.fivestar-widget-static .star span.on{
  background:url(images/star.gif) no-repeat 0 -32px;
}
div.fivestar-widget .star span.off,
div.fivestar-widget-static .star span.off{
background:url(images/star.gif) no-repeat 0 0;
}
div.fivestar-widget .star a,
div.fivestar-widget .star,
div.fivestar-widget-static .star a,
div.fivestar-widget-static .star {
  background: url(images/star.gif) no-repeat 0 0;
}

/*BOUTON COORDONNEES*/
.field-name-lememo-fiche-btn-coord{
  margin-top: -60px;
}
.button.small,
.button.expand,
.button.warning{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform:uppercase;
  background: #ff8800;
  color: #fff;
  padding: 8px 15px;
  box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.5);
}

/*DESCRIPTION*/
.field-name-field-description-short{
  color: #fff;
  min-height: 154px;
  margin: 20px 0 10px 0;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/*GALERIE*/
.field-name-lememo-fiche-block-gallery{
  margin-top: 18px;
}
.field-name-lememo-fiche-block-gallery a{
  float: right;
  font-size: 12px;
  color: #c0c0c0;
  text-transform: uppercase;
}

[data-clearing] li.gallery_thumb1B {
  margin-right: 0;
}

[data-clearing] li.gallery_thumb2:nth-last-of-type(2) {
  margin-right: 0;
}

/*
li.gallery_thumb2:last-child {
  margin-right: 0!important;
}
*/
.gallery_thumb1B,
.gallery_thumb1{
  margin-bottom: 10px;
  width: 49%;
}
.gallery_thumb2{
  width: 32.1%;
}
.gallery_link{
  margin-right: 15px;
  margin-top: 10px;
}
a.gallery_link:hover{
  color: #797979;
}
.field-name-lememo-fiche-block-gallery a.clearing-close{
  font-size: 40px;
  font-weight: bold;
}


/*DEMANDE DE DEVIS*/
.button.small,
.button.expand.form-submit{
  box-shadow: none;
  font-size: 14px;
  padding: 10px;
}

.button.expand.form-submit:hover{
  background: #797979;
}

/*BLOC INFO LEGALES*/
.field-name-lememo-fiche-legals {
  margin-top: 20px;
  background: #f0f0f0;
  padding:20px 25px 5px 25px;
}
.field-name-lememo-fiche-legals h2{
  text-transform: uppercase;
  font-size: 19px;
  color: #3a3a3a;
  font-family: "foco",sans-serif;
  font-style: normal;
  font-weight: 700;
}
.field-name-lememo-fiche-legals h3{
  text-transform: uppercase;
  font-size: 13px;
  color: #5f5f5f;
  border-bottom: 1px solid #c0c0c0;
  font-family: "aaux-next",sans-serif;
  font-style: italic;
  font-weight: 600;
}

.field-name-lememo-fiche-legals p{
  color: #979797;
  font-size: 15px;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
}
/*A PROPOS*/
.txt-apropos{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #787878;
}

/*COMMENTAIRES*/
.comment{
  background: #fff;
  /*box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 3px 15px  rgba(0, 0, 0, 0.3);*/
  border: 1px solid #787878;
  margin-bottom: 20px;
  padding: 15px;
}
.comment .username{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:16px;
  color: #555555;
  text-transform: uppercase;
}
.field-name-comment-body{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:16px;
  color: #c0c0c0;
}

/*Pagination*/
.item-list .pager li{
  padding:0;
}
.item-list ul li {
  margin: 0;
}
.item-list .pager{
margin: 15px 0 10px 0;
background:none;
border:none;
}
.pager li.pager-item,
.pager li.pager-previous,
.pager li.pager-next {
border:none;
}
.pager .pager-item a,
.pager .pager-previous a,
.pager .pager-next a,
.pager .pager-last.last a,
.pager .pager-first.first a{
border-radius: 0 0 0 0;
background:none;
font-weight:normal;
color:#888888;
}
.pager .pager-previous,
.pager .pager-first{
width:60px;
border:none;
}
.pager .pager-previous{
margin-right:10px;
width:80px;
}
.pager .pager-item a{
background: #f1f1f1;
margin-right:5px;
  padding: 4px 8px;
}
.pager .pager-item a:hover{
background: #ccc;
}
.pager li.pager-current {
background: none repeat scroll 0 0 #888888;
border-radius: 0 0 0 0;
margin-right:5px;
  padding: 4px 8px;
color: #fff;
}

/*POSTER UN AVIS*/
.comment-form .form-item-name{
  width: 48%;
  float:left;
  margin-top: 0;
}
.comment-form .form-item-mail{
  width: 48%;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
.comment-form .form-item-mail input{
  margin-bottom: 0;
}
.comment-form .form-item-mail .description{
  font-size: 12px;
}
.comment-form .field-name-comment-body {
  clear: left;
}
.field-name-field-mail label,
.comment-form label{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:14px;
  text-transform: uppercase;
}
.field-name-field-mail textarea,
.field-name-field-mail input,
.comment-form textarea,
.comment-form input{
  background:#e7e6e7;
  box-shadow: none;
}


/*CAPTCHA*/
.captcha{
  margin-top: 15px;
}
.rc-anchor-light {
  background: none;
  border: none;
  color: #000;
}

/*ATTRIBUER UNE NOTE*/
.field-name-vote-bis{
  height: 40px;
  margin-top: 25px;
}
.field-name-vote-bis h2{
  float: left;
}
.field-name-vote-bis .field-name-field-vote.field-type-fivestar{
  margin-top: 8px;
  margin-left: 10px;
}

/*COORDONNEES CARTE*/
#fiche_coord h2{
  font-family: "foco",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}
#fiche_coord p{
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:14px;
  color:#565656; 
}
.fiche-bottom{
  min-height: 300px;
}

/*BACK TO TOP*/
.field-name-lememo-fiche-backtop-btn a{
  background:url(images/backtotop.jpg) no-repeat;
  text-indent: -9999px;
  width: 46px;
  height: 45px;
  margin-bottom: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

/*FOOTER*/
.footer{
  background:#3f3f3f;
  padding-top: 25px;
}

.footer_logo p{
  color: #fff;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-transform:uppercase;
  margin-top: 5px;
}
.footer ul li{
  list-style: none;
}
.footer_bottom{
  background: #2e2e2e;
}
#block-menu-menu-menu-footer-3 ul{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#block-menu-menu-menu-footer-3 ul li{
  display: inline;
}
#block-menu-menu-menu-footer-3 ul li.last{
  margin: 0;
}
#block-menu-menu-menu-footer-3 ul li.last:before{
  content: '• ';
  padding-right: 10px;
  color: #fff;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
#block-block-1 p,
.footer ul li a,
#block-menu-menu-menu-footer-3 ul li a{
  color: #fff;
  font-family: "aaux-next",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.footer ul li a:hover,
#block-menu-menu-menu-footer-3 ul li a:hover{
  color:#ccc;
}
#block-block-1{
  float:left;
  width: 85px;
}
#block-block-1 p{
  line-height: 25px;
}

.reveal-modal .button.expand{
  margin-bottom: 0;
}

/*MOBILE*/
@media only screen and (max-width: 40em) { 

.logo-block img {
  float: left;
}
.logo-block span {
  color: #797979;
  font-size: 20px;
  float: left;
  padding: 0 0 0 10px;
  line-height: 45px;
}

.societe-cover-image {
min-height: 230px;
}

.field-name-field-logo {
  margin-top: 20px;
}

.add-this-block {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.field-name-lememo-fiche-block-gallery a.gallery_link {
  margin-right: 0;
  margin-top: 0;
  float: right;
}

[data-clearing] li{
  float: none;
  margin-right: 0;
  /*margin-left: 20px;*/
    width: 100%;
}

.field-name-lememo-fiche-block-gallery a {
float: none;
}
.gallery_thumb1B{
  display: none;
}
.gallery_thumb1 {
width: 100%;
}
.gallery_thumb1 img{
  width: 100%;
}

.gallery_thumb2 {
/*width: 30.5%;*/
display: none;
}

#fiche_coord {
/*margin-left: 20px;*/
}

.field-name-lememo-fiche-block-gallery a.clearing-close{
  z-index: 1000;
position: relative;
margin-right: 20px;
margin-top: 10px;
}

.field-name-contact-form{
  margin-top: 10px;
}

.comment-form .form-item-mail {
  width: auto;
  float: none;
}
.comment-form .form-item-name {
  width: auto;
  float: none;
}

.field-name-lememo-fiche-backtop-btn a{
  margin-top: 10px;
  margin-right: 15px;
}

.footer_logo{
  text-align: center;
}

#block-menu-menu-footer-2 ul.menu,
#block-menu-menu-footer ul.menu{
  text-align: center;
}

}


/*TABLETTE PORTRAIT*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

.gallery_thumb1B, .gallery_thumb1 {
  width: 46%;
}
.gallery_thumb2 {
  width: 30%;
}

}